<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>

        <form #forma="ngForm" (ngSubmit)="addSale()">
            <div class="form-group">
                <label for="name">Nombre: <small class="requerido">*</small></label>
                <input type="text" class="form-control" name="name" [(ngModel)]="form.name" placeholder="Nombre del cliente">
            </div>
            <div class="form-group">
                <select [(ngModel)]="form.product" name="product" class="form-control">
                    <option *ngFor="let item of products.products" [value]="[item._id, item.price]">{{item.name}} : ${{item.price}}</option>
                    
                  </select>
            </div>
            <div class="form-group">
                <label for="quantity">Cantidad:</label>
                <input type="text" class="form-control" name="quantity" [(ngModel)]="form.quantity" placeholder="quantity">
            </div>
            <div class="form-group">
                <b *ngIf="showTotal">Total: {{form.price * form.quantity}}</b>
                <small>{{stock}}</small>
            </div>


            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>

    </div>
</div>