<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>

        <form #forma="ngForm" (ngSubmit)="addProduct()">
            <div class="form-group">
                <label for="name">Nombre: <small class="requerido">*</small></label>
                <input type="text" class="form-control" name="name" [(ngModel)]="form.name" placeholder="Nombre del producto">
            </div>
            <div class="form-group">
                <label for="Precio">Precio: <small class="requerido">*</small></label>
                <input type="text" class="form-control" name="price" [(ngModel)]="form.price" placeholder="Precio">
            </div>
            <div class="form-group">
                <label for="description">Descripción:</label>
                <input type="text" class="form-control" name="description" [(ngModel)]="form.description" placeholder="Descripción">
            </div>
            <div class="form-group">
                <label for="brand">Marca:</label>
                <input type="text" class="form-control" name="brand" [(ngModel)]="form.brand" placeholder="Marca">
            </div>

            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>

    </div>
</div>